body {
  margin: 0px auto;
  font-family: Roboto, sans-serif;
}

.site_header {
  width: 100%;
  background-color: #007765;
  height: 84px;
  display: flex; 
  align-items: center;
  position: fixed; 
  top: 0; 
}

.main_container {
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
}

.navigation_container { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.link {
  font-weight: 500;
  font-size: 24px; 
  line-height: 28px; 
  text-decoration: none;
  color: #fff; 
}