body {
  margin: 0px auto;
  font-family: Roboto, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}


.site_header {
  width: 100%;
  background-color: #007765;
  height: 84px;
  display: flex; 
  align-items: center;
  position: fixed; 
  top: 0; 
}

.section-header {
  color: #007765;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-top: 30px;
}

.main_container {
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
}

.navigation_container { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.link {
  font-weight: 500;
  font-size: 24px; 
  line-height: 28px; 
  text-decoration: none;
  color: #fff; 
}

.first-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('SVG/image.svg');
  background-size: cover;
  background-position: center center;
}

.first-hero-container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.first-hero-message {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.information-section {
  background-color: #EEEEEE;
}

.information-section-description {
  box-sizing: border-box; 
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.second-hero {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url('SVG/hero-block.svg');
  background-size: cover;
  background-position: center center;
}

.second-hero-container {
  box-sizing: border-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.second-hero-message {
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}


.flexbox {
  display: flex;
  height: 100px;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  border: 1px dotted #333;
}

.item {
  background-color: #fff;
  border: 1px dotted #333;
  box-sizing: border-box;
}


.block {
  height: 180px; 
  display: table;
  width: 100%;
}

.block-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.name-employee {
  color: #007765;
  font-weight: 500;
  font-size: 24px;
}

.position-employee {
  font-style: italic;
  font-size: 18px;
}

.img-employee {
  height: 140px;
}

.footer-container {
  box-sizing: border-box;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.footer-text {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
}