.first-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("/SVG/hero-block/hero-block1.svg");
  background-size: cover;
  background-position: center center;
}

.first-hero-container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.first-hero-message {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}