.site-header {
  width: 100%;
  background-color: #007765;
  height: 84px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
}

.header-container {
  width: 100%;
  padding-left: 300px;
  padding-right: 300px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}